/* 
Colour scheme: https://www.realtimecolors.com/?colors=fff2eb-2c1b11-fcbf27-ffe100-4c5828&fonts=Baloo%20Chettan%202-Baloo%20Chettan%202
Inspired by: https://dribbble.com/shots/23700196-Brewbolt-Branding
also inspired by: https://www.littlewebsite.co/
*/

@font-face {
    font-family: 'MarginDemo';
    src: url('Margin DEMO.woff') format('woff');
}

@font-face {
    font-family: 'Matolha';
    src: url('Matolha-Regular.woff') format('woff');
}

:root[data-theme="dark"] {
    --text-50: #1a0900;
    --text-100: #331200;
    --text-200: #662400;
    --text-300: #993600;
    --text-400: #cc4700;
    --text-500: #ff5900;
    --text-600: #ff7a33;
    --text-700: #ff9c66;
    --text-800: #ffbd99;
    --text-900: #ffdecc;
    --text-950: #ffeee5;

    --background-50: #120b07;
    --background-100: #25170e;
    --background-200: #492d1d;
    --background-300: #6e442b;
    --background-400: #935a39;
    --background-500: #b87147;
    --background-600: #c68d6c;
    --background-700: #d4aa91;
    --background-800: #e2c6b6;
    --background-900: #f1e3da;
    --background-950: #f8f1ed;

    --primary-50: #191200;
    --primary-100: #322401;
    --primary-200: #644802;
    --primary-300: #976d02;
    --primary-400: #c99103;
    --primary-500: #fbb504;
    --primary-600: #fcc436;
    --primary-700: #fdd368;
    --primary-800: #fde19b;
    --primary-900: #fef0cd;
    --primary-950: #fff8e6;

    --secondary-50: #1a1700;
    --secondary-100: #332d00;
    --secondary-200: #665a00;
    --secondary-300: #998700;
    --secondary-400: #ccb400;
    --secondary-500: #ffe100;
    --secondary-600: #ffe733;
    --secondary-700: #ffed66;
    --secondary-800: #fff399;
    --secondary-900: #fff9cc;
    --secondary-950: #fffce5;

    --accent-50: #0f1208;
    --accent-100: #1e2310;
    --accent-200: #3d4620;
    --accent-300: #5b6a2f;
    --accent-400: #798d3f;
    --accent-500: #98b04f;
    --accent-600: #acc072;
    --accent-700: #c1d095;
    --accent-800: #d6dfb9;
    --accent-900: #eaefdc;
    --accent-950: #f5f7ed;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    --text-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    --inset-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
    --nav-background: rgba(110, 68, 43, 0.8);
    --workday-logo-width: 82%;
    --trinity-aspect-ratio: 25/10;

}

:root[data-theme="light"] {
    --text-50: #ffeee5;
    --text-100: #ffdecc;
    --text-200: #ffbd99;
    --text-300: #ff9c66;
    --text-400: #ff7a33;
    --text-500: #ff5900;
    --text-600: #cc4700;
    --text-700: #993600;
    --text-800: #662400;
    --text-900: #331200;
    --text-950: #1a0900;

    --background-50: #f8f1ed;
    --background-100: #f1e3da;
    --background-200: #e2c6b6;
    --background-300: #d4aa91;
    --background-400: #c68d6c;
    --background-500: #b87147;
    --background-600: #935a39;
    --background-700: #6e442b;
    --background-800: #492d1d;
    --background-900: #25170e;
    --background-950: #120b07;

    --primary-50: #fff8e6;
    --primary-100: #fef0cd;
    --primary-200: #fde19b;
    --primary-300: #fdd368;
    --primary-400: #fcc436;
    --primary-500: #fbb504;
    --primary-600: #c99103;
    --primary-700: #976d02;
    --primary-800: #644802;
    --primary-900: #322401;
    --primary-950: #191200;

    --secondary-50: #fffce5;
    --secondary-100: #fff9cc;
    --secondary-200: #fff399;
    --secondary-300: #ffed66;
    --secondary-400: #ffe733;
    --secondary-500: #ffe100;
    --secondary-600: #ccb400;
    --secondary-700: #998700;
    --secondary-800: #665a00;
    --secondary-900: #332d00;
    --secondary-950: #1a1700;

    --accent-50: #f5f7ed;
    --accent-100: #eaefdc;
    --accent-200: #d6dfb9;
    --accent-300: #c1d095;
    --accent-400: #acc072;
    --accent-500: #98b04f;
    --accent-600: #798d3f;
    --accent-700: #5b6a2f;
    --accent-800: #3d4620;
    --accent-900: #1e2310;
    --accent-950: #0f1208;
    --shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    --text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --inset-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
    --nav-background: rgba(212, 170, 145, 0.8);
    --workday-logo-width: 77%;
    --trinity-aspect-ratio: 23/10;
}

:root {
    --linearPrimarySecondary: linear-gradient(#fcbf27, #ffe100);
    --linearPrimaryAccent: linear-gradient(#fcbf27, #4c5828);
    --linearSecondaryAccent: linear-gradient(#ffe100, #4c5828);
    --radialPrimarySecondary: radial-gradient(#fcbf27, #ffe100);
    --radialPrimaryAccent: radial-gradient(#fcbf27, #4c5828);
    --radialSecondaryAccent: radial-gradient(#ffe100, #4c5828);
    --curved-border: 18px;
    --image-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-gap: 3vw;
        padding: 4vw;
        padding-top: 70px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 25vh);
        grid-template-areas:
            "hero   hero"
            "small1 small2"
            "small3 small4"
            "med2   med2"
            "big1   big1"
            "big1   big1"
            "small5 small6"
            "small7 small8"
            "small9 small10"
            "med1   med1";
    }

    @media screen and (min-width: 750px) {
        .grid {
            padding: 1.5vw;
            padding-top: 110px;
            grid-gap: 1.5vw;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 25vh);
            grid-template-areas:
                "hero   hero   hero   small1 small2"
                "hero   hero   hero   small4 small3"
                "med2   med2 big1   big1   small5"
                "small7 small8   big1   big1   small6"
                "small9 small10 med1   med1   med1";
        }
    }

    @media screen and (min-width: 1400px) {
        .grid {
            padding: 1.5vw;
            padding-top: 110px;
            grid-gap: 1.5vw;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 30vh);
            grid-template-areas:
                "hero   hero   hero   small1 small2   small3"
                "hero   hero   hero   big1   big1     small4"
                "small6 small5 small8 big1   big1     small7"
                "small9 med1   med1   small10 med2     med2"
        }
    }

    .grid .item {
        overflow: hidden;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        transition: background 500ms, outline 500ms;
    }

    /* Base styling for grid items */
    .grid .item:nth-child(1),
    .grid .item:nth-child(2),
    .grid .item:nth-child(3),
    .grid .item:nth-child(4) {
        position: relative;
        padding: 1vw;
        box-shadow: var(--shadow);
        background-position: left bottom;
        background-size: 150% 100%;
    }

    .grid .item:nth-child(5),
    .grid .item:nth-child(6),
    .grid .item:nth-child(7),
    .grid .item:nth-child(8),
    .grid .item:nth-child(9),
    .grid .item:nth-child(10),
    .grid .item:nth-child(11),
    .grid .item:nth-child(12),
    .grid .item:nth-child(13),
    .grid .item:nth-child(14),
    .grid .item:nth-child(15),
    .grid .item:nth-child(16) {
        position: relative;
        padding: 1vw;
        box-shadow: var(--shadow);
        background-position: left bottom;
        background-size: 100% 100%;
    }
}


/* Reset default styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Set a default font family and size */
body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    background-size: 400% 400%;
    background: var(--background-200);
    transition: background 0.3s ease, border 0.8s;
    color: var(--text-900);
}

#theme-switcher {
    opacity: 0;
    /* make text not able to be selected */
    user-select: none;
    font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
    #theme-switcher {
        position: fixed;
        top: 20px;
        right: 0px;
        margin-right: 2vw;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: var(--nav-background);
        backdrop-filter: blur(30px);
        border: solid 2px var(--nav-background);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        opacity: 1;
    }
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-top: 20px;
    position: fixed;
    top: 0;
    background: var(--nav-background);
    backdrop-filter: blur(30px);
    z-index: 60;
    border-radius: 50px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* Updated drop shadow */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 17px;
    padding-bottom: 18px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid var(--nav-background);
}

.indicator {
    height: calc(100% - 4px);
    position: absolute;
    transition: left 0.3s ease, width 0.3s ease, opacity 0.5s ease;
    border-radius: 50px;
    top: 2px;
    opacity: 0;
    background-color: var(--background-200);
}

/* Navbar links */
.navbar a {
    color: var(--text-800);
    text-decoration: none;
    position: relative;
    padding: 4vw;
}

@media screen and (min-width: 750px) {
    .navbar a {
        padding: 30px;
    }
}

/* Navbar list */
.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar ul li {
    margin: 0 0px;
}

.hero {
    position: absolute;
    /* border-radius: var(--curved-border);
    border: 10px solid var(--background-300); */
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("https://a.cdn-hotels.com/gdcs/production99/d1691/91873cc4-40c0-4eb3-aac2-c4761256e1bf.jpg?impolicy=fcrop&w=800&h=533&q=medium");
    background-size: cover;
    z-index: 1;
    /* Center the background image */
    background-position: center;
    /* Add an inset shadow */
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
    /* Add transition on hover */
    transition: border 0.8s, background-position 0.8s, opacity 0.8s, background-size 0.8s;
}

.hero:hover {
    background-position: bottom right;
    opacity: 0.62;
    border-color: var(--background-950);
}

.social-icon {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin-bottom: 15px;
    width: 80px;
    font-size: 30px;
    text-align: center;
}

.fa {
    text-decoration: none;
    color: var(--text-950);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    /* turn pointer events on */
    pointer-events: auto;
}

/* Profile photo */
.profile-photo {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 8px solid var(--background-200);
    margin-bottom: 0.5%;
}

.centered-text {
    text-align: center;
    color: var(--text-900);
    z-index: 50;
    pointer-events: none;
}

.header {
    font-size: 2.5rem;
    font-family: 'Matolha', fallback;
}

@media screen and (min-width: 750px) {
    .header {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1400px) {
    .header {
        font-size: 3.5rem;
    }
}

/* Bento container */
.bento-container {
    text-align: center;
    z-index: 50;
    text-shadow: var(--text-shadow);
    margin-bottom: 2vh;
}

.bento-container .primary {
    font-size: 3rem;
}

.bento-container .primary-medium {
    font-size: 2.4rem;
}

.bento-container .primary-wide {
    font-size: 2.8rem;
}

.bento-container .primary-small {
    font-size: calc(1rem + 1vw);
}

.bento-container .primary-xs {
    font-size: calc(1rem + 0.6vw);
}

.bento-container .secondary {
    font-size: calc(0.8rem + 1vw);
    margin-top: -0.8rem;
}

@media screen and (min-width: 750px) {
    .bento-container .primary {
        font-size: calc(2rem + 1.5vw);
    }

    .bento-container .primary-medium {
        font-size: calc(1.5rem + 1.2vw);
    }

    .bento-container .primary-wide {
        font-size: calc(2rem + 2vw);
    }

    .bento-container .primary-small {
        font-size: calc(1rem + 1vw);
    }

    .bento-container .primary-xs {
        font-size: calc(0.6rem + 0.6vw);
    }

    .bento-container .secondary {
        font-size: calc(0.5rem + 0.8vw);
        margin-top: -1rem;
    }
}

@media screen and (min-width: 1400px) {
    .bento-container .primary {
        font-size: calc(3rem + 1.5vw);
    }

    .bento-container .primary-medium {
        font-size: calc(1rem + 1.8vw);
    }

    .bento-container .primary-small {
        font-size: calc(1rem + 1vw);
    }

    .bento-container .secondary {
        font-size: calc(0.5rem + 0.8vw);
        margin-top: -1rem;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.square {
    width: 140%;
    aspect-ratio: 1/1;
    /* Set the aspect ratio to 1:1 for a perfect square */
    border: 3px solid var(--text-500);
    rotate: 45deg;
    position: absolute;
    opacity: 0;
    /* Set initial opacity to 0 */
    animation: scaleDown 9s ease-out infinite;
    z-index: 0;
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.2s ease-in-out;
}

.square:nth-child(1) {
    animation-delay: 0s;
    /* No delay for the first square */
}

.square:nth-child(2) {
    animation-delay: 1s;
    /* 0.5s delay for the second square */
}

.square:nth-child(3) {
    animation-delay: 2s;
}

.square:nth-child(4) {
    animation-delay: 3s;
}

.square:nth-child(5) {
    animation-delay: 4s;
}

.square:nth-child(6) {
    animation-delay: 5s;
}

.square:nth-child(7) {
    animation-delay: 6s;
}

.square:nth-child(8) {
    animation-delay: 7s;
}

.square:nth-child(9) {
    animation-delay: 8s;
}

.square:nth-child(10) {
    animation-delay: 9s;
}

.square:nth-child(11) {
    animation: scaleDown 9s ease-out;
    width: 100%;
    animation-delay: 0s;
}

.square:nth-child(12) {
    animation: scaleDown 9s ease-out;
    width: 125%;
    animation-delay: 0.5s;
}

.square:nth-child(13) {
    animation-delay: 12s;
}

.square:nth-child(14) {
    animation-delay: 13s;
}

.square:nth-child(15) {
    animation-delay: 14s;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        bottom: -15%;
    }

    10% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.2;
        bottom: 140%;
    }
}

/* bubbles with names that start at a random position at the botton container and then move up in a random pattern */
.bubble {
    position: absolute;
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--background-200);
    border: 3px solid var(--text-500);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: moveUp 9.3s ease-out infinite;
    animation-delay: 0s;
    z-index: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

@media screen and (min-width: 750px) {
    .bubble {
        width: 4vw;
    }
}

/* extra bubble because it's invisible */
.bubble:nth-child(1) {
    animation-delay: 0s;
    left: 60%;
    bottom: -50%;
}

/* No delay for the first bubble */
.bubble:nth-child(2) {
    animation-delay: 0s;
    left: 40%;
    bottom: -50%;
}

.bubble:nth-child(3) {
    animation-delay: 1s;
    left: 65%;
    bottom: -50%;
}

.bubble:nth-child(4) {
    animation-delay: 1.7s;
    left: 10%;
    bottom: -50%;
}

.bubble:nth-child(5) {
    animation-delay: 3s;
    left: 60%;
    bottom: -50%;
}

.bubble:nth-child(6) {
    animation-delay: 4s;
    left: 20%;
    bottom: -50%;
}

.bubble:nth-child(7) {
    animation-delay: 5s;
    left: 65%;
    bottom: -50%;
}

.bubble:nth-child(8) {
    animation-delay: 6s;
    left: 5%;
    bottom: -50%;
}

.bubble:nth-child(9) {
    animation-delay: 7s;
    left: 50%;
    bottom: -50%;
}

.bubble:nth-child(10) {
    animation-delay: 8s;
    left: 10%;
    bottom: -50%;
}

@keyframes animatedEye {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(0, 0);
    }

    40% {
        transform: translate(20%, 10%);
    }

    50% {
        transform: translate(-20%, 20%);
    }

    60% {
        transform: translate(-20%, -20%);
    }

    70% {
        transform: translate(20%, -20%);
    }

    80% {
        transform: translate(20%, 20%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Animated Eye */
.eye {
    position: absolute;
    width: 55%;
    aspect-ratio: 1/1;
    /* Set the aspect ratio to 1:1 for a perfect square */
    rotate: 45deg;
    background-color: var(--background-200);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 3px solid var(--text-500);
    box-shadow: var(--shadow);
    z-index: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    margin-bottom: 45%;
}

@media screen and (min-width: 750px) {
    .eye {
        margin-bottom: 40%;
        width: 40%;
    }
}

.eyeball {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--background-200);
    border: 3px solid var(--text-500);
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    animation: animatedEye 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--accent-950);
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

@keyframes animatedLock {
    0% {
        transform: translate(0, -80%);
    }

    50% {
        transform: translate(85%, -80%);
    }

    100% {
        transform: translate(0, -80%);
    }

}

.top-lock {
    height: 30%;
    aspect-ratio: 1.3/1;
    border-radius: 150px 150px 10% 10%;
    border: 15px solid var(--text-500);
    border-bottom: 0px;
    position: absolute;
    transform: translateY(-80%);
    opacity: 0.4;
    z-index: 0;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.2s ease-in-out, transform 0.3s ease-in-out;
}

@media screen and (min-width: 1400px) {
    .top-lock {
        border-width: 20px;
    }
}

.bottom-lock {
    height: 50%;
    aspect-ratio: 1.1/1;
    /* Set the aspect ratio to 1:1 for a perfect square */
    background-color: var(--text-500);
    border: 10px solid var(--text-500);
    border-radius: 10%;
    position: absolute;
    transform: translateY(+20%);
    opacity: 0.5;
    z-index: 0;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.2s ease-in-out;
}

@keyframes fallingAnimation {
    0% {
        opacity: 0;
        top: -20%;
    }

    10% {
        opacity: 0.6;
    }

    100% {
        opacity: 0.2;
        top: 140%;
    }
}

/* bubbles with names that start at a random position at the botton container and then move up in a random pattern */
.cube {
    position: absolute;
    width: 5vw;
    top: -30%;
    aspect-ratio: 1/1;
    background-color: var(--background-200);
    border: 3px solid var(--text-500);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fallingAnimation 5.4s ease-out infinite;
    animation-delay: 0s;
    z-index: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

@media screen and (min-width: 750px) {
    .cube {
        width: 1.5vw;
    }
}

/* extra bubble because it's invisible */
.cube:nth-child(1) {
    animation-delay: 0s;
    left: 60%;
    rotate: 10deg;
}

/* No delay for the first bubble */
.cube:nth-child(2) {
    animation-delay: 0s;
    left: 50%;
    rotate: 10deg;
}

.cube:nth-child(3) {
    animation-delay: 0.4s;
    left: 70%;
    rotate: 10deg;
}

.cube:nth-child(4) {
    animation-delay: 0.8s;
    left: 10%;
    rotate: 30deg;
}

.cube:nth-child(5) {
    animation-delay: 1.2s;
    left: 75%;
    rotate: -20deg;
}

.cube:nth-child(6) {
    animation-delay: 1.6s;
    left: 10%;
    rotate: -40deg;
}

.cube:nth-child(7) {
    animation-delay: 2s;
    left: 80%;
    rotate: 30deg;
}

.cube:nth-child(8) {
    animation-delay: 2.4s;
    left: 15%;
    rotate: -20deg;
}

.cube:nth-child(9) {
    animation-delay: 2.8s;
    left: 40%;
    rotate: 30deg;
}

.cube:nth-child(10) {
    animation-delay: 3.2s;
    left: 80%;
    rotate: 10deg;
}

.cube:nth-child(11) {
    animation-delay: 3.6s;
    left: 20%;
    rotate: 45deg;
}

.cube:nth-child(12) {
    animation-delay: 4s;
    left: 60%;
    rotate: -20deg;
}

.cube:nth-child(13) {
    animation-delay: 4.4s;
    left: 15%;
    rotate: 30deg;
}

.cube:nth-child(14) {
    animation-delay: 4.8s;
    left: 70%;
    rotate: 10deg;
}

.cube:nth-child(15) {
    animation-delay: 5.2s;
    left: 15%;
    rotate: 30deg;
}

.cube:nth-child(16) {
    animation-delay: 5.6s;
    left: 60%;
    rotate: 10deg;
}

/* Animated Camera */
.camera-body {
    position: absolute;
    width: 80%;
    aspect-ratio: 1.8/1;
    border: 3px solid var(--text-500);
    background-color: var(--background-200);
    border-radius: 20px;
    margin-bottom: 50%;
    box-shadow: var(--shadow);
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out;
}


.camera {
    position: absolute;
    aspect-ratio: 1/1;
    background-color: var(--background-50);
    border: 3px solid var(--text-500);
    border-radius: 50%;
    z-index: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    width: 55%;
    margin-bottom: 50%;
}

@media screen and (min-width: 750px) {
    .camera-body {
        width: 70%;
        border-radius: 20px;
        margin-bottom: 36%;
    }

    .camera {
        width: 50%;
        margin-bottom: 38%;
    }
}

.lens {
    position: absolute;
    width: 70%;
    aspect-ratio: 1/1;
    background-color: var(--background-200);
    border: 3px solid var(--text-500);
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

/* Animated Camera */
@keyframes animatedCamera {
    0% {
        width: 70%;
        /* background-color: var(--background-50); */
    }
    20% {
        width: 50%;
        /* background-color: var(--background-900); */
    }
    50% {
        width: 70%;
        /* background-color: var(--background-50); */
    }
    100% {
        width: 70%;
        /* background-color: var(--background-50); */
    }
}

.flash {
    position: absolute;
    width: 70%;
    aspect-ratio: 1/1;
    background-color: var(--background-50);
    border: 3px solid var(--text-500);
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
    animation: animatedCamera 2s ease-in infinite;
    /* box-shadow: var(--inset-shadow); */
}



.bento-container img {
    width: 100%;
    border-radius: var(--curved-border);
    box-shadow: var(--inset-shadow);
    /* border: 3px solid var(--primary-500); */
}

.hidden-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.overlay-container {
    position: relative;
    display: inline-block;
    /* or "block" if you want it to take the full width */
    width: 100%;
}

.featured-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 0.4vh;
    font-style: bold;
    color: var(--primary-500);
    /* or any color that stands out on your image */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: var(--shadow);
    border-radius: 18px;
    font-size: calc(0.7rem + 0.3vw);
    border: 3px solid var(--primary-500);
}

.fa-star {
    color: var(--primary-500);
    font-size: calc(0.8rem + 0.3vw);
    margin: 0 0.2vw;
}

.company-list {
    margin: 0.5vh 0.2vw;
}

.company-list h1 {
    font-size: calc(1.5rem + 0.5vw);
    margin-bottom: 1.5vh;
}

.company-list ul {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: all;
}

.company-list ul li {
    margin: 1vh;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    background: var(--background-100);
    border-radius: var(--curved-border);
    border: 3px solid var(--text-800);
    box-shadow: var(--image-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5vh;
}

.company-list ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.company-description {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.company-description p {
    font-size: 1.2rem;
    font-weight: 500;
}

.company-logo {
    width: 45%;
    border: 4px solid var(--background-300);
    background: var(--background-200);
    border-radius: 2vh;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, padding 0.3s ease-in-out, border-radius 0.3s ease-in-out, border-color 0.3s ease-in-out, background 0.3s ease-in-out, border-width 0.2s ease-in-out;
    box-shadow: var(--image-shadow);
}

#workday-logo {
    aspect-ratio: 17/10;
    padding: 20px;
}

#channelsight-logo {
    aspect-ratio: 23/10;
    padding: 10px;
}

#trinity-logo {
    aspect-ratio: var(--trinity-aspect-ratio);
    padding: 4px;
}


@media screen and (min-width: 750px) {
    #workday-logo {
        aspect-ratio: 19/10;
        padding: 20px;
    }
    
    #channelsight-logo {
        aspect-ratio: 26/10;
        padding: 10px;
    }

    .featured-project {
        font-size: calc(0.5rem + 0.4vw);
        width: 80%;
    }
}

@media screen and (min-width: 1400px) {
    .featured-project {
        font-size: calc(0.5rem + 0.4vw);
        width: 70%;
    }
}





/*
.grid .item:hover,
.grid .item:focus {
    background-position: top right;
}
*/

/* Grid item specific styles */
.grid .item:nth-child(1) {
    grid-area: hero;
    background: var(--background-200);
}

.grid .item:nth-child(2) {
    grid-area: big1;
    background: var(--text-500);
}

.grid .item:nth-child(3) {
    grid-area: med1;
    background: var(--background-100);

}

.grid .item:nth-child(4) {
    grid-area: med2;
    background: var(--background-100);
    transition: color 0.25s ease-in-out;
    cursor: pointer;
    text-shadow: none;
}

.grid .item:nth-child(12) {
    grid-area: small9;
    color: var(--text-900);
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    padding: 3vw;
}

.grid .item:nth-child(13) {
    grid-area: small10;
    color: var(--text-900);
    cursor: pointer;
    transition: color 0.25s ease-in-out;
}

.grid .item:nth-child(7) .bento-container {
    margin-bottom: 4vh;
}

@media screen and (min-width: 750px) {
    .grid .item:nth-child(7) .bento-container {
        margin-bottom: 5vh;
    }
}

@media screen and (min-width: 1400px) {
    .grid .item:nth-child(7) .bento-container {
        margin-bottom: 4vh;
    }
}

.grid .item:nth-child(9),
.grid .item:nth-child(10),
.grid .item:nth-child(11) {
    transition: color 0.25s ease-in-out;
    background: var(--background-100);
    color: var(--text-900);
    pointer-events: auto;
    cursor: pointer;
}

.grid .item:nth-child(5),
.grid .item:nth-child(6),
.grid .item:nth-child(7),
.grid .item:nth-child(8),
.grid .item:nth-child(12),
.grid .item:nth-child(13),
.grid .item:nth-child(14),
.grid .item:nth-child(15),
.grid .item:nth-child(16) {
    /* background: var(--background-500); */
    transition: color 0.25s ease-in-out;
    background: var(--background-100);
    pointer-events: auto;
    cursor: pointer;
}

.grid .item:nth-child(4):hover,
.grid .item:nth-child(5):hover,
.grid .item:nth-child(6):hover,
.grid .item:nth-child(7):hover,
.grid .item:nth-child(8):hover,
.grid .item:nth-child(9):hover,
.grid .item:nth-child(10):hover,
.grid .item:nth-child(11):hover,
.grid .item:nth-child(12):hover,
.grid .item:nth-child(13):hover,
.grid .item:nth-child(14):hover,
.grid .item:nth-child(15):hover,
.grid .item:nth-child(16):hover {

    color: var(--text-500);

    /* Add your hover effect styles here */
    .square {
        border-color: var(--text-300);
        border-radius: 25%;
    }

    .bubble {
        /*border-color: var(--text-200); */
        /* remove background color */
        border-color: var(--text-300);
        background-color: var(--background-100);
    }

    .cube {
        /*border-color: var(--text-200); */
        /* remove background color */
        border-color: var(--text-300);
        background-color: var(--background-100);
    }

    .eye {
        border-color: var(--text-300);
        background-color: var(--background-100);
    }

    .camera-body {
        border-color: var(--text-300);
        background-color: var(--background-100);
    }

    .top-lock {
        border-color: var(--text-300);
        animation: animatedLock 1.8s ease-in-out;
    }

    .bottom-lock {
        border-color: var(--text-300);
        background-color: var(--text-300);
    }
}

/* Project list */
.project-list {
    margin: 2vh 1vw;
}

.project-list ul {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    pointer-events: all;
}

.project-list ul li {
    padding: 0;
    margin: 1vw;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    background: var(--background-100);
    border-radius: var(--curved-border);
    border: 3px solid var(--text-800);
    box-shadow: var(--image-shadow);
}

.project-list ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-list h2 {
    font-size: calc(1.2rem + 0.7vw);
    padding: 0 0 0.4vh 0;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw;
}

.project-preview {
    width: 95%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    box-shadow: var(--image-shadow);
    margin: 1vh auto 2vh auto;
}

.project-description {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.project-description p {
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 400;
}

.view-project-buttons {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
}

.project-button {
    padding: 0.5vh 1vw;
    border-radius: 10px;
    border: 2px solid var(--text-800);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 45%;
    display: inline-block;
    margin: 0 0.5vw;
}

.project-button:hover {
    background: var(--text-400);
}

.project-button-text {
    color: var(--text-950);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Black background with opacity */
    z-index: 70;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.modal-content {
    background-color: var(--background-300);
    border: 2px solid var(--text-600);
    z-index: 75;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    transform: scale(0.7);
    max-height: 100vh;
    /* Start scaled down */
}

.close-modal {
    margin: 2.8vh 6vw;
    position: fixed;
    font-size: 30px;
    right: 0;
    cursor: pointer;
    user-select: none;
}

.fa-times {
    color: inherit;
}

.modal-content h1 {
    padding-top: 1.5vh;
    font-size: 2rem;
}


@media screen and (min-width: 750px) {
    
    .project-list h1 {
        font-size: calc(1rem + 1vw);
    }

    .project-list ul li {
        padding: 1vw;
        margin: 1.2vh;
    }

    .project-button {
        padding: 0.5vw;
        padding-bottom: 0.65vw;
        width: 25vw;
        margin: 0 0.5vw;
    }

    .modal-content {
        width: 70%;
        max-height: 90vh;
        margin: 6vh auto;
    }
}

@media screen and (min-width: 1400px) {
    .modal-content {
        padding: 20px;
        width: 80%;
    }

    .modal-single {
        margin: 18vh auto;
    }

    .modal-double {
        margin: 6vh auto;
    }

    .project-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .project-description {
        margin: auto;
        margin-top: 0;
        margin-bottom: 2vh;
    }

    .project-preview {
        width: 40%;
        border-radius: 10px;
        transition: border-color 0.3s ease;
        box-shadow: var(--image-shadow);
        margin: auto 0 0 0;
    }

    .project-list ul li {
        padding: 0.7vw;
        margin: 1.2vh;
    }

    .project-button {
        padding: 0.5vw;
        padding-bottom: 0.65vw;
        width: 15vw;
        margin: 0 0.5vw;
    }

    .close-modal {
        margin: 1.5vh 5vw;
    }

    .modal-content h1 {
        padding-top: 0.5vh;
    }

    .project-list {
        margin: 1vh 1vw;
    }
}




/* custom scrollbar */
.modal-content::-webkit-scrollbar {
    width: 40px;
    border-radius: 50px;
}

.modal-content::-webkit-scrollbar-track {
    background: var(--background-300);
    /* Light color for the track */
    border-radius: 50px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: var(--text-600);
    /* Dark color for the thumb */
    border-radius: 50px;
    border: 15px solid var(--background-300);
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--text-700);
    /* Darker color when hovering */
}