/* Link to colour scheme: https://www.realtimecolors.com/?colors=e9efe6-121c0d-abda95-408321-74e042&fonts=Baloo%20Chettan%202-Baloo%20Chettan%202 */

@font-face {
    font-family: 'MarginDemo';
    src: url('Margin DEMO.woff') format('woff');
}

@font-face {
    font-family: 'Matolha';
    src: url('Matolha-Regular.woff') format('woff');
}

:root[data-theme="light"] {
    --text-50: #f1f5ef;
    --text-100: #e4ebe0;
    --text-200: #c8d7c1;
    --text-300: #adc3a2;
    --text-400: #92af83;
    --text-500: #769c63;
    --text-600: #5f7c50;
    --text-700: #475d3c;
    --text-800: #2f3e28;
    --text-900: #181f14;
    --text-950: #0c100a;

    --background-50: #f1f7ee;
    --background-100: #e2efdc;
    --background-200: #c6dfb9;
    --background-300: #a9cf96;
    --background-400: #8cbf73;
    --background-500: #70af50;
    --background-600: #598c40;
    --background-700: #436930;
    --background-800: #2d4620;
    --background-900: #162310;
    --background-950: #0b1108;

    --primary-50: #f0f8ec;
    --primary-100: #e1f2d9;
    --primary-200: #c3e4b4;
    --primary-300: #a5d78e;
    --primary-400: #87ca68;
    --primary-500: #69bd42;
    --primary-600: #549735;
    --primary-700: #3f7128;
    --primary-800: #2a4b1b;
    --primary-900: #15260d;
    --primary-950: #0b1307;

    --secondary-50: #effaeb;
    --secondary-100: #e0f5d6;
    --secondary-200: #c1ebad;
    --secondary-300: #a2e085;
    --secondary-400: #83d65c;
    --secondary-500: #63cc33;
    --secondary-600: #50a329;
    --secondary-700: #3c7a1f;
    --secondary-800: #285214;
    --secondary-900: #14290a;
    --secondary-950: #0a1405;

    --accent-50: #effbe9;
    --accent-100: #dff8d3;
    --accent-200: #bff1a7;
    --accent-300: #9eea7b;
    --accent-400: #7ee250;
    --accent-500: #5edb24;
    --accent-600: #4baf1d;
    --accent-700: #388415;
    --accent-800: #26580e;
    --accent-900: #132c07;
    --accent-950: #091604;
    --linear-gradient: linear-gradient(270deg, #fe819e, #fe8e43);
    --nav-background: rgba(255, 255, 255, 1);
}

:root[data-theme="dark"] {
    --text-50: #0c100a;
    --text-100: #181f14;
    --text-200: #2f3e28;
    --text-300: #475d3c;
    --text-400: #5f7c50;
    --text-500: #769c63;
    --text-600: #92af83;
    --text-700: #adc3a2;
    --text-800: #c8d7c1;
    --text-900: #e4ebe0;
    --text-950: #f1f5ef;

    --background-50: #0b1108;
    --background-100: #162310;
    --background-200: #2d4620;
    --background-300: #436930;
    --background-400: #598c40;
    --background-500: #70af50;
    --background-600: #8cbf73;
    --background-700: #a9cf96;
    --background-800: #c6dfb9;
    --background-900: #e2efdc;
    --background-950: #f1f7ee;

    --primary-50: #0b1307;
    --primary-100: #15260d;
    --primary-200: #2a4b1b;
    --primary-300: #3f7128;
    --primary-400: #549735;
    --primary-500: #69bd42;
    --primary-600: #87ca68;
    --primary-700: #a5d78e;
    --primary-800: #c3e4b4;
    --primary-900: #e1f2d9;
    --primary-950: #f0f8ec;

    --secondary-50: #0a1405;
    --secondary-100: #14290a;
    --secondary-200: #285214;
    --secondary-300: #3c7a1f;
    --secondary-400: #50a329;
    --secondary-500: #63cc33;
    --secondary-600: #83d65c;
    --secondary-700: #a2e085;
    --secondary-800: #c1ebad;
    --secondary-900: #e0f5d6;
    --secondary-950: #effaeb;

    --accent-50: #091604;
    --accent-100: #132c07;
    --accent-200: #26580e;
    --accent-300: #388415;
    --accent-400: #4baf1d;
    --accent-500: #5edb24;
    --accent-600: #7ee250;
    --accent-700: #9eea7b;
    --accent-800: #bff1a7;
    --accent-900: #dff8d3;
    --accent-950: #effbe9;
    --linear-gradient: linear-gradient(270deg, #7e011e, #bc4c01);
    --nav-background: rgba(0, 0, 0, 1);
}

:root {
    --color1: #B071FF;
    --color2: #FF9C71;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-gap: 1.5vw;
        min-height: 100vh;
        padding: 1.5vw;
        padding-top: 80px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr));
        grid-template-areas:
            "hero   hero"
            "big1   big1"
            "med1   med1"
            "med2   med2"
            "small1 small2"
            "small3 small4"
            "small5 small6"
            "small7 small8"
            "small9 small10";
    }

    @media screen and (min-width: 750px) {
        .header h1 {
            font-size: 3.75rem;
        }

        .grid {
            padding-top: 110px;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 25vh);
            grid-template-areas:
                "hero   hero   hero   med1   med1"
                "hero   hero   hero   med2   med2"
                "big1   big1   big1   big1   big1"
                "small1 small2 small3 small4 small5"
                "small6 small7 small8 small9 small10";
        }
    }

    @media screen and (min-width: 1400px) {
        .header h1 {
            font-size: 6rem;
        }

        .grid {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "small1 hero   hero hero med1   med1"
                "small2 hero   hero hero med2   med2"
                "small3 small5 big1 big1 small7 small8"
                "small4 small6 big1 big1 small9 small10";
        }
    }

    /* Base styling for grid items */
    .grid .item:nth-child(1),
    .grid .item:nth-child(2),
    .grid .item:nth-child(3),
    .grid .item:nth-child(4) {
        position: relative;
        padding: 1vw;
        background-position: left bottom;
        background-size: 150% 100%;
        transition: background 500ms, outline 500ms;
        background-position: top left;
        outline: transparent;
        border-radius: 18px;
    }

    .grid .item:nth-child(5),
    .grid .item:nth-child(6),
    .grid .item:nth-child(7),
    .grid .item:nth-child(8),
    .grid .item:nth-child(9),
    .grid .item:nth-child(10),
    .grid .item:nth-child(11),
    .grid .item:nth-child(12),
    .grid .item:nth-child(13),
    .grid .item:nth-child(14) {
        position: relative;
        padding: 1vw;
        background-position: left bottom;
        background-size: 150% 100%;
        transition: background 500ms, outline 500ms;
        background-position: top left;
        outline: transparent;
        background-image: linear-gradient(45deg, #34e89e 0%, #0f3443 60%);
        border-radius: 18px;
    }
}


/* Reset default styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Set a default font family and size */
body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-size: 400% 400%;
    background: var(--background-100);
    transition: background 0.3s ease;
}

#theme-switcher {
    opacity: 0;
}

@media screen and (min-width: 750px) {
    #theme-switcher {
        position: fixed;
        top: 20px;
        right: 30px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--background-200);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background 0.3s ease;
        outline: none; /* Remove default outline */
        opacity: 1;
    }
}

/* Center align content horizontally */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Add some padding and margin to elements */
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-100);
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-100);
}

p {
    margin-bottom: 10px;
    color: var(--text-100);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 50vh;
}

.centered-text {
    text-align: center;
}

.header {
    font-size: 2rem;
    color: var(--text-800);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    font-family: 'Matolha', fallback;
}

@media screen and (min-width: 750px) {
    .header {
        font-size: 3.75rem;
    }
}

@media screen and (min-width: 1400px) {
    .header {
        font-size: 6rem;
    }
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-top: 20px;
    position: fixed;
    top: 0;
    background: var(--background-300);
    backdrop-filter: blur(20px);
    z-index: 100;
    border-radius: 50px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    /* Updated drop shadow */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 17px;
    padding-bottom: 18px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid var(--background-300);
}

.indicator {
    height: calc(100% - 4px);
    position: absolute;
    transition: left 0.3s ease, width 0.3s ease, opacity 0.5s ease;
    border-radius: 50px;
    top: 2px;
    opacity: 0;
    background-color: var(--background-200);
}

/* Navbar links */
.navbar a {
    color: var(--text-800);
    text-decoration: none;
    position: relative;
    padding: 16px;
}

@media screen and (min-width: 750px) {
    .navbar a {
        padding: 30px;
    }
}

/* Navbar list */
.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar ul li {
    margin: 0 0px;
}


/* Bento box grid styling */
.grid .item:hover,
.grid .item:focus {
    background-position: top right;
}

/* Grid item specific styles */
.grid .item:nth-child(1) {
    grid-area: hero;
    background: var(--accent-800);
}

.grid .item:nth-child(2) {
    grid-area: big1;
    background: var(--accent-500);
}

.grid .item:nth-child(3) {
    grid-area: med1;
    background: var(--secondary-500);
}

.grid .item:nth-child(4) {
    grid-area: med2;
    background: var(--accent-950);
}

.grid .item:nth-child(5),
.grid .item:nth-child(6),
.grid .item:nth-child(7),
.grid .item:nth-child(8),
.grid .item:nth-child(9),
.grid .item:nth-child(10),
.grid .item:nth-child(11),
.grid .item:nth-child(12),
.grid .item:nth-child(13),
.grid .item:nth-child(14) {
    background: var(--background-500);
}